<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>bin\Release\net10.0-windows\win-x64\publish\</PublishDir>
    <PublishUrl>bin\Release\net10.0-windows\win-x64\publish\</PublishUrl>
  </PropertyGroup>
</Project>
